<div class="container">
  <h1>My Lists</h1>
    <div class="mb-3">
    <% @lists.each do |list| %>
    <li>
    <strong>Name : </strong> <%= link_to list.name, list_path(list) %>
    </li>
    <% end %>
    </div>
    <div class="mb-3">
      <%= link_to 'Create A List', new_list_path %>
    </div>
</div>
